{% extends 'StockMarketApp/index.html' %}

<!-- Title -->
{% block title %}
    Stock
{% endblock title %}

{% block content%}

<div class="container">
    <div class="row mt-5 pt-3">
        <form class=" form form-inline" method="POST" >
            {% csrf_token %}
            <div class="col-lg-7 px-3" >
                <input aria-label="Pick a stock" class="form-control w-100" placeholder="Search" type="search" name="stock_search" required>
            </div>
            <div class="col-lg-2 pr-3">
                <select class="form-select" aria-label="Time frame" name="time_frame">
                    <option selected>Time frame</option>
                    <option value="1">1 day</option>
                    <option value="7">1 week</option>
                    <option value="30">1 month</option>
                </select>
            </div>
            <div class="col-lg-2">
                <button type="submit" class="btn btn-outline-success" style="width: 85%" >Search</button>
            </div>
        </form>
    </div>

    <div class="row pt-4">
        <div class="col-lg-2 px-5">
            <a href="/home/AAPL/1" class="btn btn-outline-success" role="button" aria-pressed="false">
                AAPL - Apple Inc.
            </a>
        </div>
        <div class="col-lg-2 px-5">
            <a href="/home/TSLA/1" class="btn btn-outline-success" role="button" aria-pressed="false">
                TSLA - Tesla Inc.
            </a>
        </div>
        <div class="col-lg-2 px-5">
            <a href="/home/SBUX/1" class="btn btn-outline-success" role="button" aria-pressed="false">
                SBUX - Strbcks.
            </a>
        </div>
        <div class="col-lg-2 px-5">
            <a href="/home/META/1" class="btn btn-outline-success" role="button" aria-pressed="false">
                META - Meta Inc.
            </a>
        </div>
        <div class="col-lg-2 px-5">
            <a href="/home/NKE/1" class="btn btn-outline-success" role="button" aria-pressed="false">
                NKE - Nike Inc.
            </a>
        </div>
    </div>

</div>


{% endblock content %}